<header class="masthead text-center text-white d-flex">
  <div class="container my-auto">
    <div class="row">
      <div class="col-lg-10 mx-auto">
        <h1 class="text-uppercase">
          <strong>Pomagaj z nami</strong>
          <br>by<br>czynić świat lepszym
        </h1>
        <hr>
      </div>
      <div class="col-lg-8 mx-auto">
        <p class="text-faded mb-5">Receive&Help - Stworzone by pomóc w twoich problemach - since 2018</p>
        <a (click)="start()" class="btn btn-primary btn-xl js-scroll-trigger">Wspieraj!</a>
      </div>
    </div>
  </div>
</header>