<app-navbar></app-navbar>


<div class="container">
<div class="card">
        <div class="card-body">
          <h3 class="card-title text-center">Sign in to App</h3>
          <br>
          <img id="icon" src="../../assets/icons/login.png">
            <form>
                    <div class="form-group">
                            <label for="exampleInputEmail1">Nazwa Użytkownika</label>
                            <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Nazwa Użytkownika">
                          </div>
                          <div class="form-group">
                            <label for="exampleInputPassword1">Hasło</label>
                            <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Hasło">
                            <small id="emailHelp" class="form-text text-muted">Z nikim nie podzielimy się Twoimi danymi</small>
                          </div>
            </form>
          <div style="margin-top: 5%" class="text-center">
          <a (click)="login()" style="color: white" class="btn btn-success">Zaloguj się</a>
          <a style="background-color: #435EAC;margin-left: 10px" href="#" class="btn btn-primary">Zaloguj sie Facebookiem</a>
          <br>
          <br>
          <b>Nie masz konta?</b><br>
               <a [routerLink]="['/register']">Zarejestruj się</a>
          </div>
        </div>
</div>
</div>
