.card{
    position: fixed; /* or absolute */
    width: 60%;
    top: 15%;
    left: 25%;
  }
  #icon{
  position: fixed; /* or absolute */
  
    left: 51%;
  }

  table {
    width: 60%;
    margin-left: 18%;
  }
  #add{
    position: fixed; /* or absolute */
  
    left: 51%;
  }