<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<mat-card class="maincard">

    
    <h2 class="text-center">Profil użytkownika</h2>
          <br>
    <div class="card">
        <img src="../../assets/jpg/elon.jpg" alt="John" style="width:100%">
        <h1>Elon Musk</h1>
        <p class="title">Prezes firmy SpaceX Tesla</p>
        <p> Uniwersytej Królowej Wielkiej Brytanii  Kanada</p>
        <div style="margin: 24px 0;">
          <a href="#"><i class="fa fa-dribbble"></i></a> 
          <a href="#"><i class="fa fa-twitter"></i></a>  
          <a href="#"><i class="fa fa-linkedin"></i></a>  
          <a href="#"><i class="fa fa-facebook"></i></a> 
       </div>
       <p><button>Punkty: 400</button></p>
      </div>

    

</mat-card>