<app-navbar></app-navbar>

<div class="card main-card">
<div class="card-body description text-center">
      <img class="" src="../../assets/icons/pie-chart.png">
  </div>
  <br>
  <h2 class="text-center">Ranking Najlepszych Pomocników</h2>
  
  
  <div class="card-body">
    <div class="person-card">
      <div class="image-flip" ontouchstart="this.classList.toggle('hover');">
          <div class="mainflip">
              <div class="frontside">
                  <div class="card">
                      <div class="card-body text-center">
                          <p><img src="../../assets/icons/girl.png" alt="card image"></p>
                          <h4 class="card-title">Paulina Knot</h4>
                          <p class="card-text">Pomagam bo mogę ;)</p>
                          <br>
                          <a href="#" class="btn btn-primary btn-sm">1</a>
                      </div>
                  </div>
              </div>
              <div class="backside">
                  <div class="card">
                      <div class="card-body text-center mt-4">
                          <h4 class="card-title">Paulina Knot</h4>
                          <p class="card-text">Do tej pory zebrałam podczas pomagania</p>
                          <p><span class="step">1950pkt</span></p>
                      </div>
                  </div>
              </div>
          </div>
      </div>
    </div>
    <div class="person-card">
        <div class="image-flip" ontouchstart="this.classList.toggle('hover');">
            <div class="mainflip">
                <div class="frontside">
                    <div class="card">
                        <div class="card-body text-center">
                            <p><img src="../../assets/icons/man.png" alt="card image"></p>
                            <h4 class="card-title">Piotr Zamicki</h4>
                            <p class="card-text">Pomagam bo dobro zawsze wraca</p>
                            <a href="#" class="btn btn-primary btn-sm">2</a>
                        </div>
                    </div>
                </div>
                <div class="backside">
                    <div class="card">
                        <div class="card-body text-center mt-4">
                            <h4 class="card-title">Piotr Zamicki</h4>
                            <p class="card-text">Do tej pory zebrałem podczas pomagania</p>
                            <span class="step">1940pkt</span>  
                          </div>
                    </div>
                </div>
            </div>
        </div>
      </div>
      <div class="person-card">
        <div class="image-flip" ontouchstart="this.classList.toggle('hover');">
            <div class="mainflip">
                <div class="frontside">
                    <div class="card">
                        <div class="card-body text-center">
                            <p><img src="../../assets/icons/boy.png" alt="card image"></p>
                            <h4 class="card-title">Krzysztof Pomorski</h4>
                            <p class="card-text">Pomagam bo inni pomogli mnie </p>
                            <a href="#" class="btn btn-primary btn-sm">3</a>
                        </div>
                    </div>
                </div>
                <div class="backside">
                    <div class="card">
                        <div class="card-body text-center mt-4">
                            <h4 class="card-title">Krzysztof Pomorski</h4>
                            <p class="card-text">Do tej pory zebrałem  podczas pomagania</p>
                            <span class="step">1750pkt</span>
                          </div>
                    </div>
                </div>
            </div>
        </div>
      </div>
    <div class="person-card">
        <div class="image-flip" ontouchstart="this.classList.toggle('hover');">
            <div class="mainflip">
                <div class="frontside">
                    <div class="card">
                        <div class="card-body text-center">
                            <p><img src="../../assets/icons/sgirl.png" alt="card image"></p>
                            <h4 class="card-title">Justyna Zwycięska</h4>
                            <p class="card-text">Poprostu Pomagam :D </p>
                            <br>
                            <a href="#" class="btn btn-primary btn-sm">4</a>
                        </div>
                    </div>
                </div>
                <div class="backside">
                    <div class="card">
                        <div class="card-body text-center mt-4">
                            <h4 class="card-title">Justyna Zwycięska</h4>
                            <p class="card-text">Do tej pory zebrałam  podczas pomagania</p>
                            <span class="step">1620pkt</span>
                          </div>
                    </div>
                </div>
            </div>
        </div>
      </div>

<table class="table table-bordered">

    <thead>
        <tr>
            <th>#</th>
            <th>Imię</th>
            <th>Nazwisko</th>
            <th>Punkty</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <th scope="row">5</th>
            <td>Mark</td>
            <td>Otto</td>
            <td>1260</td>
        </tr>
        <tr>
            <th scope="row">6</th>
            <td>Johnna</td>
            <td>Addenbrooke</td>
            <td>1200</td>
        </tr>
        <tr>
            <th scope="row">7</th>
            <td>Jacob</td>
            <td>Bridal</td>
            <td>1180</td>
        </tr>
        <tr>
            <th scope="row">8</th>
            <td>Trenna</td>
            <td>Sebyer</td>
            <td>1080</td>
        </tr>
        <tr>
            <th scope="row">9</th>
            <td>Glyn</td>
            <td>Thornton</td>
            <td>1000</td>
        </tr>
        <tr>
            <th scope="row">10</th>
            <td>Neda</td>
            <td>Becks</td>
            <td>980</td>
        </tr>
        <tr>
            <th scope="row">11</th>
            <td>Jemie</td>
            <td>Hunnicot</td>
            <td>880</td>
        </tr>
        <tr>
            <th scope="row">12</th>
            <td>Blinny</td>
            <td>Stirrup</td>
            <td>760</td>
        </tr>
        <tr>
            <th scope="row">13</th>
            <td>Gennie</td>
            <td>Gasgarth</td>
            <td>480</td>
        </tr>
        <tr>
            <th scope="row">14</th>
            <td>Aurie</td>
            <td>Oret</td>
            <td>300</td>
        </tr>
    </tbody>
</table>
  </div>
</div>
